<div class="header-full-width-block">
    <div class="container-fluid">
        <header class="header">
            <a href="{{ path('contact_contact_homepage') }}"><h1 class="logo">Friendly</h1></a>
            <a href="{{ path('contact_contact_create') }}"><i class="fa fa-plus header-create"></i></a>
            {% block breadcrumb %}{% endblock %}
        </header>
    </div>
</div>