{% for notifications in allNotifications %}
    {% for notification in notifications %}
        <div class="notification-container">
            <div class="container">
                <h3>{{ notification.title }}</h3>
                <p>{{ notification.message }}</p>
            </div>
        </div>
    {% endfor %}
{% endfor %}